# Project place file
/bitbuffer.rbxlx

# Packages
/Packages
/DevPackages

# Moonwave
/build

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# lune script outputs
/lune/benchmark.luau

# ignore DS_Store (mac specific)
.DS_Store
